<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>运行监控</title>

		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="assets/font-awesome/4.5.0/css/font-awesome.min.css" />

		<!-- page specific plugin styles -->

		<!-- text fonts -->
		<link rel="stylesheet" href="assets/css/fonts.googleapis.com.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
		<![endif]-->
		<link rel="stylesheet" href="assets/css/ace-skins.min.css" />
		<link rel="stylesheet" href="assets/css/ace-rtl.min.css" />

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="assets/js/ace-extra.min.js"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
		<![endif]-->
		<!--jquery-->
		<script src="assets/js/jquery-2.1.4.min.js"></script>
        <link rel="stylesheet" href="assets/css/jquery-ui.min.css" />
        <script src="assets/js/jquery-ui.min.js"></script>
        <!--bootstrap-table.js-->
        <link rel="stylesheet" href="./bootstrap-table/bootstrap-table.min.css">
        <script src="./bootstrap-table/bootstrap-table.min.js"></script>
		<!--echarts-->
		<script src="./echart/echarts.min.js"></script>
		<!--业务-->
		<script src="js/serviceMonitor.js"></script>
	</head>

	<body class="no-skin">
		<!--插入页面头部元素-->
		<div th:replace="/common/header::header"></div>
		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>

			<!--插入侧边栏-->
			<div th:replace="/common/sidebar::sidebar"></div>
			<div class="main-content">
				<div class="main-content-inner">
					<!--插入面包屑-->
					<div th:replace="/common/breadcrumbs::breadcrumbs"></div>
					<div class="page-content">
						<!--设置-->
						<div class="ace-settings-container" id="ace-settings-container">
							<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
								<i class="ace-icon fa fa-cog bigger-130"></i>
							</div>

							<div class="ace-settings-box clearfix" id="ace-settings-box">
								<div class="pull-left width-50">
									<div class="ace-settings-item">
										<div class="pull-left">
											<select id="skin-colorpicker" class="hide">
												<option data-skin="no-skin" value="#438EB9">#438EB9</option>
												<option data-skin="skin-1" value="#222A2D">#222A2D</option>
												<option data-skin="skin-2" value="#C6487E">#C6487E</option>
												<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
											</select>
										</div>
										<span>&nbsp; Choose Skin</span>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off" />
										<label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" />
										<label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off" />
										<label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off" />
										<label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off" />
										<label class="lbl" for="ace-settings-add-container">
											Inside
											<b>.container</b>
										</label>
									</div>
								</div><!-- /.pull-left -->

								<div class="pull-left width-50">
									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
										<label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
										<label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" />
										<label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
									</div>
								</div><!-- /.pull-left -->
							</div><!-- /.ace-settings-box -->
						</div><!-- /.ace-settings-container -->

						<div class="page-header">
							<h1>运行监控
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="alert alert-info">
									<button class="close" data-dismiss="alert">
										<i class="ace-icon fa fa-times"></i>
									</button>
									此模块可用于运行监控
								</div>
								<div class="widget-body" style="margin-bottom: 10px">
									<div class="widget-main">
										<form class="form-search">
											<div class="row">
												<div class="col-xs-12 col-sm-8">
													<div class="input-group">
																	<span class="input-group-addon">
																		<i class="ace-icon fa fa-check"></i>
																	</span>

														<input type="text" class="form-control search-query" placeholder="请输入MRO服务ID" id="taskId"/>
														<span class="input-group-btn">
																		<button type="button" class="btn btn-purple btn-sm" onclick="loadMonitor()">
																			<span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
																			查看
																		</button>
																	</span>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
								<h3 class="header blue lighter smaller">CPS节点监控</h3>
								<div>
									<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
									<div id="timeCharts" style="height: 300px;" ></div>
									<div id="rateCharts" style="height: 300px;" ></div>
								</div>
								<h3 class="header blue lighter smaller">服务监控</h3>
								<!--进度信息-->
								<div class="widget-body">
									<div class="widget-main">
										<div id="modal-wizard-container">
											<div>
												<ul class="steps">
													<li data-step="1"  id="step1">
														<span class="step">1</span>
														<span class="title">MRO服务需求</span>
													</li>

													<li data-step="2" id="step2">
														<span class="step">2</span>
														<span class="title">MRO服务匹配</span>
													</li>

													<li data-step="3" id="step3">
														<span class="step">3</span>
														<span class="title">MRO运行调度</span>
													</li>

													<li data-step="4" id="step4">
														<span class="step">4</span>
														<span class="title">MRO服务评价</span>
													</li>
												</ul>
											</div>

											<hr />

											<div class="modal-body step-content" >
												<div class="row" >
													<div class="col-xs-12 center">
														<div class="easy-pie-chart percentage" data-percent="100" data-color="#87CEEB" style="margin-right: 30px;">
															MRO总需求<span class="percent" id="wholeRequests">0</span>
														</div>
														<div class="easy-pie-chart percentage" data-percent="100" data-color="#87B87F" style="margin-right: 30px;">
															MRO子需求<span class="percent" id="subRequests">0</span>
														</div>
														<div class="easy-pie-chart percentage" data-percent="100" data-color="#D15B47" style="margin-right: 30px;">
															服务提供商<span class="percent" id="suppliers">0</span>
														</div>
													</div><!-- /.col -->
												</div><!-- /.row -->
												<!--<div class="step-pane" data-step="2">
													<h3 class="lighter block green">Enter the following information</h3>
												</div>

												<div class="step-pane" data-step="3">
													<h3 class="lighter block green">Enter the following information</h3>
												</div>

												<div class="step-pane" data-step="4">
													<h3 class="lighter block green">Enter the following information</h3>
												</div>-->
											</div>
										</div>
										<!--<div class="wizard-actions">
											<button class="btn btn-prev">
												<i class="ace-icon fa fa-arrow-left"></i>
												Prev
											</button>

											<button class="btn btn-success btn-next" data-last="Finish">
												Next
												<i class="ace-icon fa fa-arrow-right icon-on-right"></i>
											</button>
										</div>-->
									</div><!-- /.widget-main -->
								</div><!-- /.widget-body -->
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->
			<!--<div  th:include="footer::copy"></div>-->
			<!--引入页脚元素-->
			<div th:replace="/common/footer::footer"></div>
		</div><!-- /.main-container -->
		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="assets/js/jquery-2.1.4.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
		<script src="assets/js/jquery-1.11.3.min.js"></script>
		<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="assets/js/bootstrap.min.js"></script>

		<!-- page specific plugin scripts -->
		<script src="assets/js/wizard.min.js"></script>
		<script src="assets/js/jquery.validate.min.js"></script>
		<script src="assets/js/jquery-additional-methods.min.js"></script>
		<script src="assets/js/bootbox.js"></script>
		<script src="assets/js/jquery.maskedinput.min.js"></script>
		<script src="assets/js/select2.min.js"></script>

		<!-- ace scripts -->
		<script src="assets/js/ace-elements.min.js"></script>
		<script src="assets/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			jQuery(function($) {

				$('[data-rel=tooltip]').tooltip();

				$('.select2').css('width','200px').select2({allowClear:true})
						.on('change', function(){
							$(this).closest('form').validate().element($(this));
						});


				var $validation = false;
				$('#fuelux-wizard-container')
						.ace_wizard({
							//step: 2 //optional argument. wizard will jump to step "2" at first
							//buttons: '.wizard-actions:eq(0)'
						})
						.on('actionclicked.fu.wizard' , function(e, info){
							if(info.step == 1 && $validation) {
								if(!$('#validation-form').valid()) e.preventDefault();
							}
						})
						//.on('changed.fu.wizard', function() {
						//})
						.on('finished.fu.wizard', function(e) {
							bootbox.dialog({
								message: "Thank you! Your information was successfully saved!",
								buttons: {
									"success" : {
										"label" : "OK",
										"className" : "btn-sm btn-primary"
									}
								}
							});
						}).on('stepclick.fu.wizard', function(e){
					//e.preventDefault();//this will prevent clicking and selecting steps
				});


				//jump to a step
				/**
				 var wizard = $('#fuelux-wizard-container').data('fu.wizard')
				 wizard.currentStep = 3;
				 wizard.setState();
				 */

				//determine selected step
				//wizard.selectedItem().step



				//hide or show the other form which requires validation
				//this is for demo only, you usullay want just one form in your application
				$('#skip-validation').removeAttr('checked').on('click', function(){
					$validation = this.checked;
					if(this.checked) {
						$('#sample-form').hide();
						$('#validation-form').removeClass('hide');
					}
					else {
						$('#validation-form').addClass('hide');
						$('#sample-form').show();
					}
				})



				//documentation : http://docs.jquery.com/Plugins/Validation/validate


				$.mask.definitions['~']='[+-]';
				$('#phone').mask('(999) 999-9999');

				jQuery.validator.addMethod("phone", function (value, element) {
					return this.optional(element) || /^\(\d{3}\) \d{3}\-\d{4}( x\d{1,6})?$/.test(value);
				}, "Enter a valid phone number.");

				$('#validation-form').validate({
					errorElement: 'div',
					errorClass: 'help-block',
					focusInvalid: false,
					ignore: "",
					rules: {
						email: {
							required: true,
							email:true
						},
						password: {
							required: true,
							minlength: 5
						},
						password2: {
							required: true,
							minlength: 5,
							equalTo: "#password"
						},
						name: {
							required: true
						},
						phone: {
							required: true,
							phone: 'required'
						},
						url: {
							required: true,
							url: true
						},
						comment: {
							required: true
						},
						state: {
							required: true
						},
						platform: {
							required: true
						},
						subscription: {
							required: true
						},
						gender: {
							required: true,
						},
						agree: {
							required: true,
						}
					},

					messages: {
						email: {
							required: "Please provide a valid email.",
							email: "Please provide a valid email."
						},
						password: {
							required: "Please specify a password.",
							minlength: "Please specify a secure password."
						},
						state: "Please choose state",
						subscription: "Please choose at least one option",
						gender: "Please choose gender",
						agree: "Please accept our policy"
					},


					highlight: function (e) {
						$(e).closest('.form-group').removeClass('has-info').addClass('has-error');
					},

					success: function (e) {
						$(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
						$(e).remove();
					},

					errorPlacement: function (error, element) {
						if(element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
							var controls = element.closest('div[class*="col-"]');
							if(controls.find(':checkbox,:radio').length > 1) controls.append(error);
							else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
						}
						else if(element.is('.select2')) {
							error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
						}
						else if(element.is('.chosen-select')) {
							error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
						}
						else error.insertAfter(element.parent());
					},

					submitHandler: function (form) {
					},
					invalidHandler: function (form) {
					}
				});




				$('#modal-wizard-container').ace_wizard();
				$('#modal-wizard .wizard-actions .btn[data-dismiss=modal]').removeAttr('disabled');


				/**
				 $('#date').datepicker({autoclose:true}).on('changeDate', function(ev) {
					$(this).closest('form').validate().element($(this));
				});

				 $('#mychosen').chosen().on('change', function(ev) {
					$(this).closest('form').validate().element($(this));
				});
				 */


				$(document).one('ajaxloadstart.page', function(e) {
					//in ajax mode, remove remaining elements before leaving page
					$('[class*=select2]').remove();
				});
			})
		</script>
	<!--自定义js-->
	<script src="assets/js/jquery.easypiechart.min.js"></script>
	<script>
		$('.easy-pie-chart.percentage').each(function(){
			$(this).easyPieChart({
				barColor: $(this).data('color'),
				trackColor: '#EEEEEE',
				scaleColor: false,
				lineCap: 'butt',
				lineWidth: 10,
				animate: ace.vars['old_ie'] ? false : 1000,
				size:130
			}).css('color', $(this).data('color'));
		});
	</script>
	</body>
</html>
